.season-content-wrapper{
    display: flex;

    width: 100%;
    height: 640px;

    justify-content: center;
    align-items: center;

    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
.season-video{
    width: 100%;
    height: 640px;
    left: 50%;
    top: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);

    object-fit: cover;
    box-sizing: border-box;
    position: absolute;

    opacity: .5;
}
.season-content{
    display: block;
    text-align: center;
    z-index: 1;
}
.season-content-title{
    height: auto;
    text-align: center;
    font-family: Blender Pro, serif;
    max-font-size: 48px;
    z-index: 1;
}
.season-content-desc{
    text-align: center;
    font-family: Blender Pro, serif;
    max-font-size: 28px;
    font-weight: 500;
}
.columns{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.column{
    height: 374px;
}
@media screen and (min-width: 1000px){
    .column{
        width: 50%;
    }
}
@media screen and (max-width: 999px){
    .column{
        width: 100%;
    }
}

.button{
    padding: 15px 40px;
    border-radius: 26px;
    line-height: 80px;

    color: black;
    background:white;

    text-align: center;
    font-family: Blender Pro, serif;
    font-weight: 500;
    text-decoration: none;

    transition: all .5s;
    position: relative;
}
.button::after{
    content: "";
    position: absolute;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 26px;

    background: linear-gradient(45deg,
        rgba(220,220,220) 0, rgba(220,220,220) 25%, white 25%, white 50%,
        rgba(220,220,220) 50%, rgba(220,220,220) 75%, white 75%, white
    );
    background-size: 10px 10px;

    z-index: -1;
}
.button:hover{
    background:transparent;
}

.button:hover:after{
    animation: button-flow-anime 1s linear;
    -webkit-animation: button-flow-anime .5s linear;
    animation-iteration-count: infinite;
}
@keyframes button-flow-anime {
    0%{
        background-position-y: 0;
    }
    100%{
        background-position-y: 10px;
    }
}