@import "modules.css";
#content-1::after{
    background-image: url("https://rm-static.djicdn.com/tem/12037/4c2203031538048406278271658.jpg");
}

#content-2::after{
    background-image: url("https://rm-static.djicdn.com/tem/12037/4ca945f41538039038230294206.jpg");
}

#content-3::after{
    background-image: url("https://rm-static.djicdn.com/tem/55708/281b9c07e48791632310737147951570.png");
}