html, body{ width: 100% ; height: 100%; position: fixed; font-family: NunitoSans-Light,serif; background-color: black;overflow: hidden; display: flex;}

:root{
    --rm-blue: rgb(62,145,247);
    --rm-yellow-darken: rgb(72,58,27);
    --rm-yellow: rgba(245,193,66);
}