nav{
    height: 80px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;

    color: white;

    display: flex;
    align-items: center;
}



nav::after{
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    backdrop-filter: initial;
    -webkit-backdrop-filter: initial;
}

.scroll-down::after{
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(20,20,20,0.4);
    backdrop-filter: blur(20px) brightness(25%);
    -webkit-backdrop-filter: blur(20px) brightness(25%);
}