/********************************************//**
 *              Content Window
 ***********************************************/
:root{
    --loading-grid-active-size:100px;
    --loading-grid-idle-size:200px;
    --loading-grid-index-offset-vert: 8;
    --loading-grid-index-offset-horz: 8;
}
.content-screen{

    align-self: center;

    width: 100%;
    height: 100%;

    background-color: black;
    color: white;
    border: solid 1px rgb(100,100,100);

    overflow-x: hidden;
    overflow-y: scroll;

    -webkit-overflow-scrolling : touch;
    transition: all 0.5s 0.5s cubic-bezier(0.0,0.0,0.3,1.0);
    transform-origin: center;
}
.content-screen::-webkit-scrollbar { width: 0 !important }

#loading-status:checked ~ .content-screen{
    opacity: 0;
    transition: all 0.4s cubic-bezier(.7,0.0,1.0,1.0);
    transform: scale(0.6);
}

/********************************************//**
 *              Loading Anime
 ***********************************************/

/*************Not Loading Behavior*************/
/*Overall Composite*/
#loading-screen{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;

    justify-content: center;
    display: flex;
}

/*Grid*/
vert-line{
    position: absolute;
    left: calc(var(--index) * var(--loading-grid-idle-size) + 50%);
    width: 1px;
    height: 100%;

    background-color: rgb(50,50,50);

    transform: scaleY(0);
    transition: all 0.5s calc((var(--loading-grid-index-offset-vert) - var(--index))*0.05s) cubic-bezier(1,.0,.5,1);
}
vert-line:nth-child(even){
    transform-origin: left top;
}
vert-line:nth-child(odd){
    transform-origin: left bottom;
}
horz-line{
    position: absolute;
    top: calc(var(--index) * var(--loading-grid-idle-size) + 50%);
    width: 100%;
    height: 1px;

    background-color: rgb(50,50,50);

    transform-origin: left top;
    transform: scaleX(0);
    transition: all 0.5s calc((var(--loading-grid-index-offset-horz) - var(--index))*0.05s) cubic-bezier(1,.0,.5,1);
}
horz-line:nth-child(even){
    transform-origin: left top;
}
horz-line:nth-child(odd){
    transform-origin: right top;
}
#loading-grid{
    position: absolute;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    justify-content: center;
    display: flex;
}

/*Decorations*/
.loading-text{
    padding: 120px 140px;
    margin: 0 0;
    align-self: center;

    color: white;
    background: -webkit-linear-gradient(
            45deg,
            var(--rm-yellow-darken) 0, var(--rm-yellow-darken) 10%, black 10%, black 50%,
            var(--rm-yellow-darken) 50%, var(--rm-yellow-darken) 60%, black 60%, black
    );
    background-size: 10px 10px;
    opacity: 0;

    transition: all 0.5s 0.2s;
    z-index: 0;
}
.loading-text:after{
    font-family: "Blender Pro", serif;
    content: "LOADING";
    padding: 5px;
    font-weight: 100;
    font-size: 20px;
    opacity: 0;

    background: black;

    transition: all 0.5s cubic-bezier(.8,0,.2,1);
    animation: loading-text-fade 1s forwards;
    -webkit-animation: loading-text-fade 1s forwards;
}
#loading-orgName{
    position: absolute;
    left: 5%;
    bottom: 5%;
    z-index: 0;

    color: white;

    font-family: Blender Pro, serif;
    font-size: 10px;
    font-weight: 100;
    opacity: 0;

    animation: loading-text-fade .5s linear forwards;
    -webkit-animation: loading-text-fade .5s linear forwards;
}
#loading-textBox{
    z-index: 1;
    align-self: center;
    border: 1px rgb(75, 75, 75) solid;

    background: rgba(0,0,0,.5);
    opacity: 0;

    transition: all 0.2s 0.5s;
}
#loading-textBox::before{
    content: "";

    position: absolute;
    height: 1px;
    width: 400px;
    top: 50%;
    left: calc(50% - 200px);
    z-index: -1;

    background: rgb(100, 100, 100);

    transform-origin: center;
    transform: scaleX(0);

    transition: all 0.5s cubic-bezier(.8,0,.2,1);
}
#loading-textBox::after{
    content: "";

    position: absolute;
    height: 350px;
    width: 1px;
    top: calc(50% - 175px);
    left: 50%;
    z-index: -1;

    background: rgb(100, 100, 100);

    transform-origin: center;
    transform: scaleY(0);

    transition: all 0.5s cubic-bezier(.8,0,.2,1);
}

/***************Loading Behavior***************/
/*Grid*/
#loading-status:checked ~ #loading-screen vert-line {
    left: calc(var(--index) * var(--loading-grid-active-size) + 50%);
    transform: scaleY(1)!important;
    transition: all 0.5s calc((var(--loading-grid-index-offset-vert) + var(--index))*0.05s) cubic-bezier(.5,.0,.0,1);
}
#loading-status:checked ~ #loading-screen horz-line {
    top: calc(var(--index) * var(--loading-grid-active-size) + 50%) ;
    transform: scaleX(1)!important;
    transition: all 0.5s calc((var(--loading-grid-index-offset-horz) + var(--index))*0.05s) cubic-bezier(.5,.0,.0,1);
}

/*Navigation Bar (Black-background)*/
#loading-status:checked ~ nav{
    border-bottom: rgba(255,255,255,0.2) 1px solid;
}
#loading-status:checked ~ nav::after{
    z-index: -2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0,0,0,1.0);
    backdrop-filter: initial;
    -webkit-backdrop-filter: initial;
}

/*Decorations*/
#loading-status:checked ~ #loading-screen .loading-text{
    padding: 70px 50px;
    margin: 10px 10px;

    opacity: 1;
    animation: loading-strip-move 2s linear;
    -webkit-animation: loading-strip-move 2s linear;
    animation-iteration-count: infinite;
}
#loading-status:checked ~ #loading-screen .loading-text::after{
    padding: 25px;

    animation: loading-text-show 1s 0.5s forwards;
    -webkit-animation: loading-text-show 1s 0.5s forwards;
    background-size: 10px 10px;
}
#loading-status:checked ~ #loading-screen #loading-orgName{
    animation: loading-text-show .25s .25s forwards;
    -webkit-animation: loading-text-show .25s .25s forwards;
}
#loading-status:checked ~ #loading-screen #loading-textBox{
    transition: all 0.2s;
    opacity: 1;
}
#loading-status:checked ~ #loading-screen #loading-textBox::before{
    transform: scaleX(1);
}
#loading-status:checked ~ #loading-screen #loading-textBox::after{
    transform: scaleY(1);
}

/********************************************//**
 *           Pre-defined Animations
 ***********************************************/
@keyframes loading-text-show {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    11%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    41%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
    61%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    71%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    76%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    81%{
        opacity: 1;
    }
    83%{
        opacity: 0;
    }
    84%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes loading-text-fade {
    0%{
        opacity: 0;
    }
    1%{
        opacity: 0;
    }
    2%{
        opacity: 1;
    }
    3%{
        opacity: 0;
    }
    4%{
        opacity: 1;
    }
    6%{
        opacity: 0;
    }
    7%{
        opacity: 1;
    }
    14%{
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    26%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    41%{
        opacity: 1;
    }
    42%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes loading-strip-move {
    0%{
        background-position-y: 0;
    }
    100%{
        background-position-y: 50px;
    }
}