.content-window{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: black;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling : touch
}
.content-window::-webkit-scrollbar { width: 0 !important }